.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.boton{
    background: black;
    color: white;
}
.input{
    background: gray;
}
.error{
    color: black;
}